.container {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
}

.team-photo {
  width: 300px;
  height: 200px;
  /* left: 874.77px;
  top: 813.84px; */
  padding-left: 100px;
    padding-right: 100px;
  /* transform: rotate(4.67deg); */
}

@font-face {
  font-family: "Medium 500";
  src: local('JosefinSans'),
  url("../fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}
