#About {
  padding-top: 10%;
  padding-bottom: 5%;
  align-self: center;
  text-align: center;
  background-color: #D0CDEA;
}

.shadow-text {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adjust values for desired shadow effect */
}


.photo-wrapper {
  margin-top: 15px;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('./../../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rastano';
  src: url('./../../fonts/Rastano.ttf') format('truetype');
}

.shadow-rectangle {
  width: 460px;
  height: auto;
  transform: rotate(4.67deg);
  border: 8px solid transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 5%;
  text-align: center;
}

.photo {
  position: relative;
  top: 10px;
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 8px;
}
.robotMascot-image {
  width: 50%; /* Make the image fit the container */
  max-width: 350px; /* Limit the size */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  margin-top: 10px; /* Space between the images */
  position: absolute; /* Set absolute positioning */
  bottom: 30%; /* Move the image 30px up from the bottom */
  right: -180px; /* Move the image 150px to the right */
  transform: rotate(25deg); /* Rotate the image by 25 degrees */
}




@media only screen and (max-width: 1000px) {
  #About {
    padding-left: 5%;
    padding-right: 5%;
  }
  .shadow-rectangle {
    width: 95%;
  }

  .photo {
    width: 90%;
    height: 90%;
  }
  .robotMascot-image {
    width: 20%; /* Adjust for smaller screens */
    margin-top: 20px;
    bottom: -15%; /* Move the image 30px up from the bottom */
    right: -30px; /* Move the image 150px to the right */
  }
}
