.container {
  background-color: white;
  padding: 20px;
}

.photo-wrapper {
  margin-top: 20px;
}

@media (min-width: 1000px) {
  .container {
    padding: 20px 50px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding-top: 50px;
    padding-left: 150px;
  }

  .shadow-rectangle {
    margin-left: 100px;
  }

}

@font-face {
  font-family: "JosefinSans";
  src: url("./../../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rastano";
  src: url("./../../fonts/Rastano.ttf") format("truetype");
}

.shadow-rectangle {
  width: 460px;
  height: 344px;
  transform: rotate(4.67deg);
  border: 8px solid transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 8px;
}

.photo {
  position: relative;
  top: 10px;
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 8px;
}