@font-face {
  font-family: 'Josefin Sans';
  src:
    local('JosefinSans'),
    url('./../../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

.GISAlert {
  font-family: 'Josefin Sans';
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #a6a8ce;
}
