@font-face {
  font-family: 'Josefin Sans';
  src:
    local('JosefinSans'),
    url('./../../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

#FAQ {
  padding-top: 5%;
  padding-bottom: 1%;
}

.accordion {
  padding-bottom: 20px;
}
