@font-face {
    font-family: "Josefin Sans";
    src: local('JosefinSans'),
    url("./../../fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}

.Hero {
    background-color: #EBE9FA;
    color: #6363AB;
    font-family: "Josefin Sans";
    text-align: left;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 10%;
}

.girls-in {
    font-size: 40px;
    color: #A6A8CE;
    line-height: 10%;
}

.STEAM {
    font-size: 60px;
    line-height: 50%;
}

.description {
    font-size: large;
}

.logo {
    margin-top: 10%;
    width: 400px;
}