@font-face {
  font-family: 'Josefin Sans';
  src:
    local('JosefinSans'),
    url('./../../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

#Hero {
  color: #EDE9EA;
  font-family: 'Josefin Sans';
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
  max-height: 850px;
}




.description-container {
  display: flex;          /* Use flexbox for alignment */
  align-items: center;    /* Center vertically */
  margin-top: 10px;      /* Optional: space above the container */
}



.plant-image {
  position: absolute;
  top: 105px; /* Adjust as needed */
  left: 100px;
  transform: translateX(-50%);
  width: 300px; /* Adjust to your preferred size */
  z-index: 2; /* Ensure it appears above the rectangles */
  opacity: 0.5;
}

.info-column {
  display: flex;               /* Use flexbox */
  flex-direction: column;      /* Stack items vertically */
  justify-content: center;     /* Center horizontally (if needed) */
  align-items: center;         /* Center vertically (if needed) */
  height: 100%;                /* Ensure it takes full height of the parent */
}

.gisConference {
  font-size: 40px;
  color: #D0CDEA;
  text-align: center;         
  margin: 0 0 10px; /* Add bottom margin to create space below */
}

.blurb {
  font-size: 50px;
  margin: 0; /* Remove any margin */
  text-shadow: 
    2px 2px 0 rgba(0, 0, 0, 0.4), /* Hard shadow directly behind */
    4px 4px 0 rgba(0, 0, 0, 0.3), /* Slightly offset shadow */
    6px 6px 0 rgba(0, 0, 0, 0.2); /* Further offset shadow */
}



.description {
  font-size: 35px; /* Adjust as needed */
  margin: 0; /* No margin to eliminate space between description headings */
  font-weight: normal;
}

/* Add gap below STEAM */
.blurb + .description {
  margin-top: 20px; /* Gap between the last STEAM and descriptions */
}


@media screen and (max-width: 1100px) {
  #Hero {
    padding-left: 5%;
    padding-right: 5%;
  }

  .gisConference {
    font-size: 20px;
  }

  .blurb {
    font-size: 30px;
  }

  .description {
    font-size: large;
  }
}

@media screen and (max-width: 700px) {
  .gisConference {
    font-size: 60%;
  }

  .blurb {
    font-size: 100%;
  }

  .info-column {
    width: 90%;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .description {
    font-weight: normal;
  }
}
