@font-face {
    font-family: "Josefin Sans";
    src: local('JosefinSans'),
    url("./../../fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}

.Hero {
    background-color: #EBE9FA;
    color: #6363AB;
    font-family: "Josefin Sans";
    text-align: left;
}

.column {
    float: left;
    width: 40%;
    padding: 5%;
}

.girls-in {
    font-size: 40px;
    color: #A6A8CE;
    line-height: 10%;
}

.STEAM {
    font-size: 60px;
    line-height: 50%;
}

.description {
    font-size: large;
}

.slide-image {
    width: 100%;
    object-fit: cover;
}

.alice-carousel__wrapper {
    border-radius: 15px;
}

@media screen and (max-width: 900px) {
    .column {
      width: 90%;
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }