html {
  scroll-behavior: smooth;
}

#App {
  text-align: center;
  background-color: #6851A3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-family: sans-serif;
  color: white;
}

.App-Component {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
}

.Hero-Background {
  background-image: linear-gradient(#6851A3, #9F9FD6);
  min-height: 500px;
  margin-top: 70px;
}

.About-Us-Background {
  background-image: linear-gradient(#7E7ED8, #D0CDEA);
  min-height: 200px;
}


.Agenda-Background {
  background-image: linear-gradient(#D0CDEA, #7E7ED8, #472E86);
  min-height: 200px;
}

.Sponsor-FAQ-Team-Background {
  background-image: linear-gradient(#472E86, #5A4067, #472E86);
  background-size: 100vw !important;
}

@media screen and (max-width: 1024px) {
  .Nav-Component {
    padding-left: 5%;
    padding-right: 5%;
  }
}
