html {
  scroll-behavior: smooth;
}

#App {
  text-align: center;
  background-color: #6363AB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-family: sans-serif;
  color: white;
}

.App-Component {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
}

.Hero-Background {
  background-image: linear-gradient(#6363AB, #9F9FD6);
  min-height: 500px;
  margin-top: 70px;
}

.About-Us-Background {
  background-image: linear-gradient(#9F9FD6, #6363AB, #9F9FD6);
  min-height: 200px;
}

.Agenda-Background {
  background-image: #6363AB;
  min-height: 200px;
}

.Sponsor-FAQ-Team-Background {
  background-image: linear-gradient(#6363AB, #5A4067);
  background-size: 100vw !important;
}

/* Responsive Adjustments */
@media screen and (max-width: 1023px) {
  .Nav-Component {
    padding-left: 5%;
    padding-right: 5%;
  }

  .App-Component {
    width: 95%; /* For smaller screens, make the App component take more width */
    padding: 0 5%; /* Reduced padding for smaller screens */
  }

  .Hero-Background {
    height: 120vh;
  }

  .Hero-Background,
  .About-Us-Background,
  .Agenda-Background,
  .Sponsor-FAQ-Team-Background {
    width: 100%; /* Ensure sections take up full width on smaller screens */
    max-width: 100%; /* No maximum width constraint for smaller screens */
  }
}
