.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-family: sans-serif;
  color: white;
}

.Values-Team-Background {
  background-image: linear-gradient(#9292C9, #E0CBE8, #9F93C1);
}

