#toolbar {
  padding: 0px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Adjust this based on the height of your navbar */
  overflow-x: hidden; /* Prevent horizontal scrolling (applies to entire page) */
}


@media (max-width: 600px) {
  .navbar-buttons {
    display: none;
  }
}

@media (min-width: 600px) {
  #menu-button {
    display: none;
  }
}
