@font-face {
  font-family: "Josefin Sans";
  src: local('JosefinSans'),
    url("./../../fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}

.Our-Values {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: xx-large;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
}

.val-column {
  max-width: 33.33%;
  height: auto;
}

.val-img {
  width: 100%;
  filter: opacity(60%);
}
/* try using material ui cards instead */
.val-icon {
  width: 50px;
}

.val-title {
  font-size: x-large;
}

.val-info {
  font-size: large;
}

@media only screen and (max-width: 800px) {
  .Our-Values {
    font-size: large;
  }

  .val-column {
    max-width: 100%;
    height: auto;
  }
}