@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden; /* Prevent horizontal scrolling */
}
  
  html {
	overflow-x: hidden; /* Prevent horizontal scrolling (applies to entire page) */
  }
  
.timeline-section{
	background-color: #D0CDEA;
	min-height: 100vh;
    margin-left: -400px;
    margin-top: 0px;
}
.timeline-items{
	max-width: 100%;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: #D0CDEA;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #6363AB;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-left: calc(50% + 30px);
	text-align: left;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #6363AB;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-time{
	font-size: 18px;
	color: #6363AB;
	margin:6px 0 15px;
    margin-left: -210px;
}
.timeline-content{
    margin-top: -50px;
	padding: 10px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #6363AB;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content h4{
    color: #6363AB;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	white-space: pre-wrap;
	margin-bottom: 10px; /* Add space between h4 and p */
}

.timeline-content p{
    color: #6363AB;
	font-size: 16px;
	line-height: 22px;
	white-space: pre-wrap;
}

.timeline-image {
	max-width: 120px;
	height: auto;
	margin-top: 10px;
	display: block; /* Ensure it's not hidden */
	border-radius: 10px;
  }

  .timeline-images-container {
	display: flex;
	gap: 20px;  /* Adjusts space between images */
	justify-content: flex-start;
	margin-top: 10px;
	height: auto;
	width: 100%;
  }

  .timeline-description {
    color: #6363AB; /* same color as the timeline content */
    font-size: 16px;
    line-height: 22px;
    white-space: pre-wrap;
}

.timeline-bullet-point {
    color: #6363AB; /* same color as the timeline content */
    font-size: 16px;
    line-height: 22px;
    list-style-type: disc;
    margin-left: 20px; /* Adjust bullet indentation if needed */
}

.timeline-bullet-point li {
    margin-bottom: 10px; /* Adjust space between bullet points */
}
  

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}